<h2>メッセージ</h2>

<div class="forbid">
  <h3><i class="fas fa-exclamation-triangle"></i> 実際に会うことやSNSアカウントの<span class="br"></span>交換は規約違反です</h3>
  <h3><i class="fas fa-exclamation-triangle"></i> 不適切な行為があった場合は<span class="br"></span>ユーザーを通報してください</h3>
</div>

  <%= form_for @message, url: {action: "create", params: {id: @link.uuid}} do |f| %>
  <%= render("layouts/error_messages", model: f.object) %>

<div class="other-user">
  <%= link_to("/#{@status}/#{@user.uid}") do %>
    <%= image_tag @user.image.url, class: "icon-msg-show", alt: "ユーザーアイコン" %>
    <div class="msg-name">
      <%= @user.name %>
    </div>
  <% end %>
</div>

<div class="all-messages">
  <% @messages.each do |me| %>
    <% unless me.message.nil? %>
      <% if me.source == current_user.status %>
        <div class="mes self-message">
          <p><%= safe_join(me.message.split("\n"),tag(:br)) %></p>
        </div>
          <p class="self-time"><%= me.created_at.strftime("%Y/%m/%d %H:%M") %></p>
      <% else %>
        <div class="chatting">
          <div class="mes other-message">
            <p><%= safe_join(me.message.split("\n"),tag(:br)) %></p>
          </div>
          <p class="other-time"><%= me.created_at.strftime("%Y/%m/%d %-H:%-M") %></p>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="message-forms">

    <div class="form-group">
      <%= f.text_area :message, class: "form-control message-form", placeholder: "1000文字以内で入力してください。" %>
      <%= f.submit "送信", class: "btn-upload" %>
    </div>

  <% end %>
</div>