<h2><%= @user.school %> <%= @user.department %> <%= @user.subject %> <%= @user.grade %></h2>

<%= image_tag @user.image.url, class: "icon", alt: "ユーザーアイコン" %>


<% if current_user == user %>
  <% if seniors? %>
    <p id="edit-name-button"><input type="button" value="編集" onclick="edit_name()"></p>
    <p id="close-name-button"><input type="button" value="閉じる" onclick="close_name()"></p>

    <div id="edit-name-form">
      <%= form_for(user) do |f| %>
      <%= render("layouts/error_messages", model: f.object) %>

      <div class="form-group">
        <%= f.label :school, "大学" %>
        <%= f.text_field :school %>
        
        <%= f.label :department, "学部" %>
        <%= f.text_field :department %>
        
        <%= f.label :subject, "学科" %>
        <%= f.text_field :subject %>
        
        <%= f.label :grade, "学年" %>
        <%= f.select :grade, [["学部1年", "学部1年"],["学部2年", "学部2年"],["学部3年", "学部3年"],["学部4年", "学部4年"], ["その他", "その他"]] %>
      </div>

      <div class="form-group">
        <%= f.file_field :image, accept: 'image/jpg,image/jpeg,image/gif,image/png' %>
      </div>

      <%= f.submit '更新', class: 'btn btn-upload' %>
      <% end %>
    </div>

  <% elsif juniors? %>
    <p id="edit-name-button"><input type="button" value="編集" onclick="edit_name()"></p>
    <p id="close-name-button"><input type="button" value="閉じる" onclick="close_name()"></p>

    <div id="edit-name-form">
      <%= form_for(user) do |f| %>
      <%= render("layouts/error_messages", model: f.object) %>

      <div class="form-group">
        <%= f.label :grade, "学年" %>
        <%= f.select :grade, [["高校1年", "高校1年"],["高校2年", "高校2年"],["高校3年", "高校3年"],["浪人生", "浪人生"]] %>
      </div>

      <div class="form-group">
        <%= f.file_field :image, accept: 'image/jpg,image/jpeg,image/gif,image/png' %>
      </div>

      <%= f.submit '更新', class: 'btn btn-upload' %>
      <% end %>
    </div>

  <% end %>
<% end %>