<%= image_tag @user.image.url, class: "icon-profile", alt: "ユーザーアイコン" %>

<% if current_user == user %>
<div id="edit-image-form">
  <%= form_for(user) do |f| %>
  <%= render("layouts/error_messages", model: f.object) %>

  <div class="image-form">
    <%= f.file_field :image, accept: 'image/jpg,image/jpeg,image/gif,image/png' %>

    <%= f.submit '更新', class: 'btn-upload' %>
  </div>
  <% end %>
</div>
<% end %>