<div class="user-flex">
  <% users.each do |user| %>
    <div class="user-index">
      <%= link_to("/seniors/#{user.uid}") do %>
        <%= image_tag user.image.url, class: "icon", alt: "ユーザーアイコン" %>
        <div class="user-info">
          <div class="user-school">
            <%= user.school %>
          </div>
          <div class="user-department">
            <%= user.department %>
          </div>
          <div class="user-name">
            <%= user.name %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
<%= paginate users %>