<% if juniors? %>
  <h2>大学生への申請一覧</h2>
    <% unless @links.empty? %>
      <div class="user-flex">
        <% @links.each do |link| %>   
          <% @id = link.senior_id %>
          <% @senior = User.find_by(id: @id) %>
          <div class="user-index">
            <%= link_to("/seniors/#{@senior.uid}") do %>
            <% unless link.uuid %>
              <p class="stay">【ステータス：回答待ち】</p>
            <% else %>
              <p class="approve">【ステータス：承認済み】</p>
            <% end %>
              <%= image_tag @senior.image.url, class: "icon", alt: "ユーザーアイコン" %>
              <div class="user-info">
                <div class="user-school">
                  <%= @senior.school %>
                </div>
                <div class="user-department">
                  <%= @senior.department %>
                </div>
                <div class="user-name">
                  <%= @senior.name %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @links, window: 2 %>
    <% else %>
      <h4>まだ申請を送っていません。</h4>
    <% end %>
<% elsif seniors? %>
  <h2>高校生からの申請一覧</h2>
    <% unless @links.empty? %>
      <div class="user-flex">
        <% @links.each do |link| %>   
          <% @id = link.junior_id %>
          <% @junior = User.find_by(id: @id) %>
          <div class="user-index">
            <%= link_to("/juniors/#{@junior.uid}") do %>
            <% if link.chat == "deny" %>
              <p class="deny">【ステータス：否認済】</p>
            <% elsif link.chat == "approve" %>
              <p class="approve">【ステータス：承認済】</p>
            <% else %>
              <p class="stay">【ステータス：未回答】</p>
            <% end %>
              <%= image_tag @junior.image.url, class: "icon", alt: "ユーザーアイコン" %>
              <div class="user-info">
                <div class="user-grade">
                  <%= @junior.grade %>
                </div>
                <div class="user-name">
                  <%= @junior.name %>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%= paginate @links, window: 2 %>
    <% else %>
      <h4>まだ申請がありません。</h4>
    <% end %>
<% end %>