<h1><%= @user.name %></h1>

<%= render("users/name_image", user: @user) %>
<%= render("users/user_police", user: @user) %>

<%= render("users/answer_button", user: @user) %>

<%= render("users/user_profile", user: @user) %>
