<h1><%= @user.name %></h1>

<%= render("users/name_image", user: @user) %>

<%= render("users/application_button", user: @user) %>
<%= render("users/review_button", user: @user) %>

<%= render("users/user_profile", user: @user) %>

<h3>高校生からのレビュー一覧</h3>
<%= render("reviews/review_index.html.erb") %>