<h1>ユーザー詳細(大学生)</h1>


<p>id：<%= @user.id %></p>
<p>uid：<%= @user.uid %></p>
<p>name：<%= @user.name %></p>
<% if @user.nickname %>
  <p>nickname：<%= @user.nickname %></p>
<% end %>
<p>provider：<%= @user.provider %></p>
<p>image：<%= @user.image %></p>
<img src="<%= @user.image %>">