<h1>申請可能な大学生一覧</h1>

<div class="form">
  <%= form_tag("/search", method: "GET") do %>
    <input name="keyword" placeholder="例)京都大学, 経済学部, 数学 など">
    <input type="submit" value="検索">
  <% end %>
</div>

<%= paginate @users %>

<% unless @users.empty? %>
  <% @users.each do |user| %>
      <%= link_to("/seniors/#{user.uid}") do %>
        <div>
          <%= image_tag user.image.url, class: "icon", alt: "ユーザーアイコン" %>
          <%= user.school %> <%= user.department %>
        </div>
      <% end %>
  <% end %>
  <%= paginate @users %>
<% else %>
  <p>ヒットしませんでした</p>
<% end %>