<h2>申請可能な大学生一覧</h2>

<div class="row">
  <%= form_tag("/search", method: "GET") do %>
    <div class="col-sx-10 col-sm-8 col-md-10 search-form">
      <input name="keyword" placeholder="例)京都大学, 経済学部, 数学 など" class="search-input">
      <%= button_tag type: "submit", class: "search-submit" do %>
        <span class="fa fa-search"></span> 検索
      <% end %>
    </div>
  <% end %>
</div>

<% unless @users.empty? %>
  <div class="user-flex">
    <% @users.each do |user| %>
      <div class="user-index">
        <%= link_to("/seniors/#{user.uid}") do %>
          <%= image_tag user.image.url, class: "icon", alt: "ユーザーアイコン" %>
          <div class="user-school">
            <%= user.school %>
          </div>
          <div class="user-department">
            <%= user.department %>
          </div>
          <div class="user-name">
            <%= user.name %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
<% else %>
  <p class="no-hit">ヒットしませんでした</p>
<% end %>