<% unless logged_in? %>
  <div class="eye-catch">
    <img src="/images/eye1.jpg" alt="図書館" class="eye">
    <h1 class="catch">自分で決める、<br>大学進学</h1>
    <button type="button" class="login-btn" data-toggle="modal" data-target="#Modal">
      Uniiiv&(ユニーブ)に参加
    </button>
    <p class="first-check"><i class="fas fa-check"></i> 高校生は大学生に受験<span class="none2">や大学生活</span>の相談ができます</p>
    <p class="second-check"><i class="fas fa-check"></i> 大学生はアドバイザーとして参加できます</p>
  </div>
<% end %>

  <!-- モーダル・ダイアログ -->
  <div class="modal fade" id="Modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3>サービスの利用には<span class="br"><br></span>ログインが必要です</h3>
        </div>
        <div class="modal-body">
          <div class="l-btn line">
            <%= link_to("/auth/line") do %>
              <i class="fab fa-line"></i> LINEログイン
            <% end %>
          </div>
          <div class="l-btn goog">
            <%= link_to("/auth/google_oauth2") do %>
              <i class="fab fa-google"></i> Googleログイン
            <% end %>
          </div>
          <div class="l-btn face">
            <%= link_to("/auth/facebook") do %>
              <i class="fab fa-facebook"></i> Facebookログイン
            <% end %>
          </div>
        </div>
        <div class="modal-footer modal-footer-1">
          <p><%= link_to("利用規約を確認する","/terms") %></p>
          <p><%= link_to("プライバシーポリシーを確認する","/privacy") %></p>
        </div>
        <div class="modal-footer modal-footer-2">
          <button type="button" class="btn-close" data-dismiss="modal">閉じる</button>
        </div>
      </div>
    </div>
  </div>


<h2 class="home">大学生を探して話を聞く</h2>

  <%= form_tag("/search", method: "GET") do %>
      <input name="keyword" placeholder="京都大学, 経済学部, 数学 など" class="search-input" autocomplete="off">
      <%= button_tag type: "submit", class: "search-submit" do %>
        <span class="fa fa-search"></span> <span class="none">検索</span>
      <% end %>
  <% end %>

<% unless @users.empty? %>
  <div id="user-lists"><%= render("users/top_user_index", users: @users) %></div>
   <div class="more"><%= link_to_next_page @users, 'もっと見る', remote: true, id: "view_more" %></div>
<% else %>
  <p class="no-hit">ヒットしませんでした</p>
<% end %>