<h1>投稿一覧</h1>

<%= form_for(@post) do |f| %>
  <%= f.label :content, "投稿内容"%>
  <%= f.text_field :content %>

  <%= f.submit "投稿"%>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li><%= post.content %> <%= link_to("削除","/posts/#{post.id}", method: "DELETE") %></li>
  <% end %>
</ul>

<div>
  <%= link_to(current_user.name, "/#{current_user.status}/#{current_user.uid}") %>
</div>
<div>
  <%= link_to("高校生一覧", "/juniors") %>
</div>
<div>
  <%= link_to("大学生一覧", "/seniors") %>
</div>
<%= link_to("ログアウト", "/logout", method: "POST") %>
