<div class="header">
  <h3 class="logo"><%= link_to("キャリステ","/") %></h3>
    <% if current_user %>
      <div class="header-menu">
        <% if current_user.status %>
          <%= link_to("マイページ", "/#{current_user.status}/#{current_user.uid}") %>
          <span class="header-bar">|</span>
          <%= link_to("申請一覧", "/action") %>
          <span class="header-bar">|</span>
          <%= link_to("メッセージ", "/messages") %>
          <span class="header-bar">|</span>
        <% end %>
        <%= link_to("ログアウト", "/logout", method: "POST") %>
      </div>
      <div class="clear"></div>
    <% else %>
      <div class="header-menu">
        <%= link_to("LINEログイン", "/auth/line") %>
        <span class="header-bar">|</span>
        <%= link_to("Facebookログイン", "/auth/facebook") %>
        <span class="header-bar">|</span>
        <%= link_to("Googleログイン", "/auth/google_oauth2") %>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
</div>