<div class="header">
  <h3 class="logo">
    <%= link_to("/") do %>
      <i class="fas fa-graduation-cap"></i>Uniiiv&
    <% end %>
  </h3>
    <% if current_user %>
      <div class="header-menu">
        <% if current_user.status %>
          <%= link_to("/#{current_user.status}/#{current_user.uid}") do %>
            <i class="fas fa-user"></i> <span class="none">マイページ</span>
          <% end %>
          <span class="header-bar">|</span>
          <%= link_to("/action") do %>
            <i class="fas fa-clipboard"></i> <span class="none">申請一覧</span>
          <% end %>
          <span class="header-bar">|</span>
          <%= link_to("/messages") do %>
            <i class="fas fa-comment"></i> <span class="none">メッセージ</span>
          <% end %>
          <span class="header-bar">|</span>
        <% else %>
          <%= link_to("/status") do %>
            <i class="fas fa-clipboard"></i> <span class="none">ステータス登録</span>
          <% end %>
          <span class="header-bar">|</span>
        <% end %>
        <%= link_to("/logout", method: "POST", data: { confirm: "ログアウトしますか？" }) do %>
          <i class="fas fa-sign-out-alt"></i> <span class="none">ログアウト</span>
        <% end %>
      </div>
      <div class="clear"></div>
    <% else %>
      <div class="header-menu">
        <p data-toggle="modal" data-target="#Modal">
          ログイン/新規登録
        </p>
      </div>
      <div class="clear"></div>
    <% end %>
  </div>
</div>