<!DOCTYPE html>
<html>
  <head>
    <title>Uniiiv&（ユニーブ）｜自分で決める大学進学</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%# SEO対策 %>
    <meta name="description" content="Uniiiv&(ユニーブ)は高校生が大学生に、大学受験のことや大学生活に関して質問できるWEBサービスです。">
    <meta name="keywords" content="大学,受験,大学受験,志望校,大学生,大学選び,オープンキャンパス,大学進学,高校生,キャリア教育,ユニーブ,Uniiiv,Uniiiv&,uniiiv">

    <%# favicon設定 %>
    <link rel="shortcut icon" type="image/x-icon" href="/images/logo.png">
    <link rel="apple-touch-icon" href="/images/logo.png" sizes="180x180">

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Bootstrap JavaScript-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%# Font Awesome用の設定 %>
    <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet">
  </head>

  <body>
    <%= render("layouts/header") %>
    <%= render("layouts/flash_messsages") %>

    <div class="background">
      <div class="contain">
        <%= yield %>
      </div>
    </div>
    <%= render("layouts/footer") %>
  </body>
</html>
